<a href="https://colab.research.google.com/github/sdw1621/bigdata_gisa/blob/main/211116_%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B8%B0%EC%82%AC_1%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 정수형, 실수형
a = 123
b = -123.4
a+b

-0.4000000000000057

In [3]:
# 8진수
c = 0o34
d = 0o24
c+d

48

In [4]:
# 16진수
e = 0x2A
f = 0xFF
e+f

297

In [6]:
# 문자열
s = 'WiseInCompany'
s1 = "WiseInComany"
s2 = '''WiseInCompany'''
s3 = "123"
print(s)
print(s1)
print(s2)
print(s3)
print(type(s3))

WiseInCompany
WiseInComany
WiseInCompany
123
<class 'str'>

In [7]:
# 문자열 연산하기
a = "Wise"
b = "InCompany"
print(a+b)
a = "WiseInCompany"
print(a*2)

WiseInCompany
WiseInCompanyWiseInCompany

In [8]:
# 문자열 인덱싱 및 슬라이싱
a = "Wise In Company"
print(a[3])
print(a[-3])
print(a[0:15])
print(a[4:])
print(a[0:4])

e
a
Wise In Company
 In Company
Wise

In [10]:
 # 리스트
a = [1,2,3,4,5]
print(a)

# 리스트 인덱싱
a = [1,2,3,4,5]
print(a[0])
print(a[-1])

# 리스트 슬라이싱
a = [1,2,3,4,5]
print(a[0:5])
print(a[:5])
print(a[2:])

[1, 2, 3, 4, 5]
1
5
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[3, 4, 5]

In [11]:
# 리스트 요소 추가/수정/삭제
a = [1,2,3,4,5]
a.append(6)
a[0] = 0
del a[1]
print(a)

[0, 3, 4, 5, 6]

In [12]:
# 리스트 병합 및 반복
a = [1,2]
b = [3,4,5]
c = a + b
print(c)
d = a * 3
print(d)

[1, 2, 3, 4, 5]
[1, 2, 1, 2, 1, 2]

In [13]:
# 튜플
t = (1,2,3,4,5)

# 튜플 인덱싱 및 슬라이싱
t1 = (1,2,3)
print(t[1]) # 인덱싱
print(t[0:3]) # 슬라이싱

2
(1, 2, 3)

In [15]:
a = (1,2)
b = (3,4,5)
c = a + b
print(d)
d = a * 3
print(d)

(1, 2, 1, 2, 1, 2)
(1, 2, 1, 2, 1, 2)

In [17]:
# 튜플 변수 할당
name = ("David", "Kim")
print(name)
firstname, lastname = ("David", "Kim")
print(lastname, ", ", firstname)

('David', 'Kim')
Kim ,  David

In [18]:
# 집합
set = {1,1,2,3}
print(set)

{1, 2, 3}

In [19]:
# 집합 추가 및 삭제1
set = {1,1,2,3}
set.add(4) # 요소 하나 추가
set

{1, 2, 3, 4}

In [20]:
# 집합 추가 및 삭제2
set = {1,1,2,3}
set.update({4,5,6}) # 요소 여러 개 추가
set

{1, 2, 3, 4, 5, 6}

In [21]:
set.remove(1)
set

{2, 3, 4, 5, 6}

In [22]:
# 요소 모두 삭제
set.clear()
set

In [25]:
# 집합 연산
a = {1,2,3}
b = {1,3,4}

# 교집합
c = a & b
print(c)

# 합집합
d = a|b
print(d)

# 차집합
e = a - b
print(e)

{1, 3}
{1, 2, 3, 4}
{2}

In [26]:
# 사전
test = {"Kim":90, "Jeong":80, "Park":75}
test["Kim"] # 키 이용

90

In [27]:
# 사전 추가/수정/삭제
test = {"Kim":90, "Jeong":80, "Park":75}
test["Jeong"] = 85
test["Cho"] = 95
del test["Park"]
print(test)

{'Kim': 90, 'Jeong': 85, 'Cho': 95}

In [29]:
# 키 또는 값 가져오기
test = {"Kim":90, "Jeong":80, "Park":75}
print(test.keys())
print(test.values())

dict_keys(['Kim', 'Jeong', 'Park'])
dict_values([90, 80, 75])